/**Creado por camilo barbosa*/

@media screen and (max-height: 1440px){
	
}

/*notebooks vertical orientation*/
@media screen and (max-height: 1280px){
	
}

/*tablets vertical orientation*/
@media screen and (max-height: 1024px){
	
}

/*Nexus 7 vertical*/
@media screen and (max-height: 966px){
	
}

/*Notebooks :3*/
@media screen and (max-height: 950px){
	
}

/*Notebooks :3*/
@media screen and (max-height: 900px){
	
}

/*Sony xperia:3*/
@media screen and (max-height: 854px){
	
}


/*Notebooks :3*/
@media screen and (max-height: 800px){
	
}

/*iPads (landscape)*/
@media screen and (max-height: 768px){
	
}

/*LG*/
@media screen and (max-height: 753px){
	
}

/*iPhone 6 plus vertical*/
@media screen and (max-height: 737px){
	
}

/*720*/
@media screen and (max-height: 720px){
	
}


/*iPhone 6 vertical*/
@media screen and (max-height: 667px){
	
}

/*Galaxy Note*/
@media screen and (max-height: 640px){
	
}

/*Nexus 7*/
@media screen and (max-height: 604px){
	
}

/*Galaxy Tab and Kindle (landscape)*/
@media screen and (max-height: 600px){
	
}

/*iPhone 5 vertical orientation*/
@media screen and (max-height: 569px){
	
}

/*Motorola :c*/
@media screen and (max-height: 540px){
	
}

/*cellphones vertical orientation*/
@media screen and (max-height: 533px){
	
}

/*cellphones vertical orientation*/
@media screen and (max-height: 480px){
	
}

/*LG :'(*/
@media screen and (max-height: 424px){
	
}

/*iPhone 6 landscape*/
@media screen and (max-height: 420px){
				
}

/*Tablet 360*/
@media screen and (max-height: 360px){
			header{font-size: 1em;}
				section{font-size: 5em;}				
				nav button{font-size: 23em;}
				nav{font-size: 2em;}	
}

/*iPhone 5, 4 landscape*/
@media screen and (max-height: 320px){
				
}

/*LG OPTIMUS ONEEE*/
@media screen and (max-height: 213px){
				
}